.questions {
    background-color: #e8e8e8;
    border-left : 5px solid #30475e;
    width : 70%;
    margin: 10rem auto 0 auto;
    padding : 1.5rem 2rem;
    height : 45vh;
}

.options-container {
display: inline-block;
width : 50%;   

}

.option {
    background-color: #222831;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    margin: 2rem auto;
    padding: 10px;
    transition : 0.3% linear all;
    text-align: center;
    width: 90%;
}


.option:hover {
    background-color: #30475e;
}

h5{
    font-size: 1.3rem;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align : center;
}