* {
    margin: 0;
    padding : 0;
}

.login {
    background-image: url("../../assests/anna-peipina-hLx3QC71kzk-unsplash.jpg");
    background-size : cover;
    background-position: left;
    height : 80vh;
    width : 100vw;
    justify-content: space-around;
}